.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #660000;
  color: white;
}

.login-container input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.login-container button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  background-color: #222;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 50px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.dashboard-content {
  margin-left: 250px;
  padding: 20px;
}
